<div class="spinner_container">
	<div x-mojo-element="Spinner" id="main_spinner" class="spinner"></div>
</div>
<div id="BODY_CONTAINER">
	<div id="list_contianer">
		<div id="search_bar">
			<div x-mojo-element="TextField" id="search_value" class="search_value"></div>
			<img id="search_btn" src="images/searchBtn.png" />
		</div>
		<div id="channel_list_control_btn">
		</div>
		<div id="channel_list_container">
			<div id="channel_list_scroller" x-mojo-element="Scroller">
				<div id="channel_list">
				</div>
			</div>
		</div>
		<div id="video_list_scroll" x-mojo-element="Scroller" class="scroll">
			<div id="video_list" class="video_list">
			</div>
		</div>
	</div>

	<div id="option" style="display:none; height:inherit; font-size:12px; clolr:white;">
		<img src="images/icon_about_logo.png" style="position:relative; margin:5px"/>
		<pre>
	    这是xiaoma同学在无聊时候写的
	无聊播放器
	
	    本软件所有服务均由土豆提供，xiaoma
	只是软件的作者。
	    编写本软件的目的仅仅是出于自娱自乐。
		</pre>
	</div>
</div>

<div id="NEV">
</div>