#BODY_CONTAINER
{
	position:relative;
	overflow:hidden;
	display:block;
}

#list_contianer
{
	height:inherit;
}

.NEV_320
{
	position:fixed;
	bottom:0px;
	height:40px;
	background:#333333;
	width:100%;
}

.NEV_480
{
	position:fixed;
	bottom:0px;
	height:60px;
	background:#333333;
	width:100%;
}

.nev_btn
{
	height:inherit;
	padding:0 15px;
	margin:0 5px;
}

#video_list_scroll
{
	position: relative;
	height:inherit;
	left:0px;
}

.video_list
{
	position:relative;
	height:auto;
	display:block;
	width:inherit;
	overflow:hidden;
}



.video_list .list_item
{
	poaition:relative;
	width:150px;
	height:153px;
	padding:5px;
	margin:2px 0;
	float:left;
	background:url(../images/video_list_item_bg.png) no-repeat;
	overflow:hidden;
}

.video_list .list_item img
{
	width:152px;
	margin:0;
}

.video_list .info
{
	position:relative;
	margin:0;
	padding:0;
	white-space:nowrap; 
}

.video_list .info .title
{
	position:relative;
	height:11px;
	width:123px;
	overflow:hidden;
	line-height:11px;
	font-size:11px;
	color:white;
	font-weight:bold;
}

.video_list .info .total_time
{
	position:absolute;
	font-size:11px;
	color:white;
	text-indent:3px;
	padding-right:6px;
	float:left;
	top:-23px;
	left:0px;
	padding:2px 3px;
	background:rgba(128,128,128,0.5);
	font-weight:bold;
}

.video_list .info .paly_times
{
	position:relative;
	margin-top:4px;
	height:11px;
	line-height:11px;
	font-size:11px;
	color:white;
	text-indent:13px;
	float:left;
	background:url(../images/xb.png) no-repeat;
	font-weight:bold;
	
}

#channel_list_container
{
	position:absolute;
	width:60px;
	height:inherit;
	padding-right:6px;
}

#channel_list_control_btn
{
	position:absolute;
	width:50px;
	height:50px;
	left: -25px;
	top:-25px;
	background:#999999;
	z-index:1000;
	display:block;
	border-radius:0 20px 20px 0;
	opacity:0.5;
}

#channel_list_scroller
{
	width:inherit;
	height:inherit;
	padding-right:6px;
	background:url(../images/channelbg.png) repeat-y top right;
	z-index:999;
}

#channel_list
{
	position:relative;
	display:block;
	overflow:hidden;
	width:inherit;
	height:auto;
}

#channel_list .list_item
{
	position:relative;
	text-align:left;
	padding:0px;
	padding-right:6px;
	width:inherit;
}

#channel_list .list_item img
{
	position:relative;
	left:0;
	margin:0;
	width:inherit;
}

#search_bar
{
	height:30px;
	width:inherit;
	margin-top:5px;
}

.search_value
{
	position:relative;
	float:left;
	width:200px;
	font-size:12px;
	line-height:20px;
	margin-left:10px;
}

.search_value div
{
	margin-top:4px;
	width:200px;
	font-size:12px;
	line-height:20px;
}

.search_value input
{
	width:200px;
	font-size:12px;
}

#search_btn
{
	position:relative;
	float:left;
	margin-left:10px;
	height:26px;
}